Chickensoft.GodotNodeInterfaces/nupkg/

Chickensoft.GodotNodeInterfaces.Tests/coverage/*
!Chickensoft.GodotNodeInterfaces.Tests/coverage/.gdignore

.godot/
bin/
obj/
.generated/
.vs/
.DS_Store
.output/
Chickensoft.GodotNodeInterfaces/src/adapters
!Chickensoft.GodotNodeInterfaces/src/adapters/.gitkeep
Chickensoft.GodotNodeInterfaces/src/interfaces
!Chickensoft.GodotNodeInterfaces/src/interfaces/.gitkeep
Chickensoft.GodotNodeInterfaces/src/*.cs
